## Environment ##
NODE_ENV=development

## Server ##
PORT=3000
HOST=localhost

## Setup jet-logger ##
JET_LOGGER_MODE=CONSOLE
JET_LOGGER_FILEPATH=jet-logger.log
JET_LOGGER_TIMESTAMP=TRUE
JET_LOGGER_FORMAT=LINE

## MongoDB ##
MONGO_URL=mongodb://db:27017/confusion

## Cookie/Session Signing ##
SESSION_SECRET=skjbKAK@#nSOPA0-12389Cas

## JWT ##
JWT_SECRET_KEY=skdaldSBKJDUAWIb)(*)32112$%^